
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}
#navbarSupportedContent{
  font-size: 23px;
}
#dropdown{
  font-size: 20px ;
}
.nav{
  margin: 0px 20px;
}
.carousel-inner{
  height: 45vh;
}
.form-inline{
  margin-left: 400px;
  margin-right: 10px;
  line-height: 30px;
}
.template-demo{
  float: right;
  margin-left: 10px;
} 
 @media only screen and (max-width:1000px) { 
  .form-inline{
    margin-left: 0;
  }
}  
  
.deals{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: rgba(38, 113, 212, 0.87);
}
footer{
  margin-top: 30px;
}

#deal{
  color: rgb(2, 2, 46);
  text-align: center;
  font-size: 60px;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px;
  background-color: rgba(212, 236, 255, 0.692);
}